/*header*/

p{
    font-size: large;
}
a{
    font-size: large;
}
.header {
  background-color: gainsboro;
  height: 5em;


  font-family: 'Inter', sans-serif;
font-family: 'Kalam', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Ubuntu', sans-serif;
  
}
.header a {
    float:right;
    margin: 10px;
    margin-bottom: 20px;
    
}

.header a:visited{
    color: blueviolet;
}

.header a:link{
    color: darkred;
}
.header a:hover{
    color: darkred;
}

/*Font*/




/* Code for all containers other than homepage. */
.container{ 
    background-color: white;
    width: 80%;
    margin-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10px;
    padding-bottom: 10px;
}



/*home page container*/
.container1{
   background-color: white;
   width: 80%;
   margin-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
    overflow:hidden;
    text-align: center;
    
}
.container1 img{
    float: center;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 60%;
    height: 550px;
}
/*Body on all pages*/
body{
    background-color: gainsboro;

    font-family: 'Inter', sans-serif;
font-family: 'Kalam', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Ubuntu', sans-serif;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

table{
    padding-left: 10px;
}

/*About me page*/
.container2{
    background-color: white;
    width: 80%;
    margin-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10px;
    padding-bottom: 10px;
    
}
.topper{
    float:right;
    max-width: 200px;
    height: auto;
    clear: both;

}

.sidebyside img{
    width: 45%;
    height: 550px;
    flex-direction:row;
    margin-left: 20px;  
   
}


/*Responsive styles*/
@media screen and (max-width: 650px){
    .sidebyside{
    display: none;
    }
    .container1 img{
        height: 120px;
        width: 115px;
        margin-bottom: 5px;
    }




}



